<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/motreb_logo.jpg" alt="">
                            </div>
                            <div class="timeline-panel" dir="rtl"><p dir="rtl">مطرب یک پلتفرم موسیقی ست که تلاش می‌کند دسترسی به موسیقی با کیفیت را هرچه آسان‌تر کند. موسیقی یک مقوله ی اجتماعی بسیار مهم در جوامع انسانی ست. موسیقی در واقع, آینه ی تمام‌نمای فرهنگ ملل مختلف است و برای پیشرفت اجتماعی نکته‌ای کلیدی ست, بنابراین دسترسی عادلانه و یکسان به موسیقی بنظر اهمیت بالایی دارد. <br/><br/>
تیم ما در اولین مرحله یک <a href="https://t.me/motreb_downloader_bot"> بات تلگرام </a> راه‌اندازی کردو شما می‌توانید از طریق این بات اهنگ‌ها, آلبوم‌ها و پلی‌لیست‌های مختلف را تنها با وارد کردن لینک آنها دانلود کنید. همچنین درصورت وجود لیریکس برای هر اهنگ, متن آن برای شما نمایش داده می‌شود. <br/><br/>
با ارتقای اکانت خود به پرمیوم (پرداخت ماهانه) می‌توانید از قابلیت‌های بیشتری از قبیل دسترسی به لیست علاقه‌مندی‌های اسپاتیفای خود از طریق بات و همچنین سرچ پیشرفته بهره‌مند شوید.<br/><br/>
لطفا در شبکه‌های اجتماعی مارا حمایت کنید :)</p></div>
                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- <hr style="border: width 2;"> -->
    <hr>
