<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/motreb_logo.jpg" alt="">
                            </div>
                            <div class="timeline-panel"><p>Motreb is a music platform which makes high quality music more accessible to everyone.
                                 Music is a very important phenomena in human society. Music is a mirror of a nation's culture and it's a key element for improving a nation's minds, so a fair and distributed access to music sounds essential.
                                <br/><br/>As our first step, we made a <a href="https://t.me/motreb_downloader_bot">telegram bot</a> with whitch you can download tracks, albums and playlists with just entering their spotify url. 
                                You can also see the lyrics for each track (if there exists any). By upgrading your account to premium, you can use our premium features such as downloading your whole spotify library (favorites) and improved search.
                            <br/><br/> Please share our bot if you enjoyed using Motreb! :)</p></div>
                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- <hr style="border: width 2;"> -->
    <hr>