<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud-download fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Unlimited download</h4>
                    <p class="text-muted">You can download tracks/albums/playlists just by entering their links.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-text-height fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Lyrics</h4>
                    <p class="text-muted">If there is any lyrics available for the song, it will be displayed.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">User Library</h4>
                    <p class="text-muted">By logging in to your spotify account and giving access to Motreb, you can download your library (favourites) without any link just with a click!</p>
                </div>
            </div>
        </div>
    </section>